repos:

# Automatically sort imports
- repo: https://github.com/PyCQA/isort.git
  rev: 5.5.3
  hooks:
  - id: isort

# Automatic source code formatting
- repo: https://github.com/psf/black
  rev: 21.4b2
  hooks:
  - id: black
    args: [--safe, --quiet]
    files: \.pyi?$|SConscript$|^libtbx_config$
    types: [file]

- repo: https://github.com/PyCQA/flake8
  rev: 3.8.3
  hooks:
  - id: flake8
    args: ['--max-line-length=88', '--select=E711,E712,E713,E714,E721,E722,E901,F401,F402,F403,F405,F632,F633,F811,F812,F821,F822,F841,F901,W191,W291,W292,W293,W602,W603,W604,W605,W606']

# Syntax check
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: check-ast
  - id: check-yaml
  - id: check-merge-conflict
  - id: check-added-large-files
    args: ['--maxkb=200']
  - id: no-commit-to-branch
    name: "Don't commit to master directly"
