repos:
# Syntax validation and some basic sanity checks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-merge-conflict
  - id: check-ast
    fail_fast: True
  - id: check-json
  - id: check-added-large-files
    args: ['--maxkb=200']
  - id: check-yaml
    args: ['--allow-multiple-documents']
  - id: no-commit-to-branch
    name: "Don't commit to 'main' directly"

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.3.4
  hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix, --show-fixes]
    - id: ruff-format
      files: \.pyi?$|SConscript$|^libtbx_config$
      types: [file]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v14.0.6
  hooks:
  - id: clang-format
    files: \.c(c|pp|xx)?$|\.h(pp)?$
